@{
    ViewBag.Title = "AgileWorkflow Dashboard";
    ViewBag.SubTitle = "Give me time, I'm working on it.";
}
<form class="well">
    <ul>
        <li>Sample Item 1 <a href="#">X</a></li>
        <li>Sample Item 2 <a href="#">X</a></li>
        <li>Sample Item 3 <a href="#">X</a></li>
        <li>Sample Item 4 <a href="#">X</a></li>
        <li>Sample Item 5 <a href="#">X</a></li>
    </ul>
    <input type="text" name="todo"/>
    <button class="btn btn-success">Add</button>
</form>